# Dependencies
node_modules/
frontend/node_modules/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env

# Django
*.log
local_settings.py
db.sqlite3
backend/media/

# React
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Coverage
htmlcov/
.coverage
coverage/
